
@font-face {
	font-family: "ProbaPro-Regular";
	src: url("../fonts/ProbaPro-Regular.otf");	
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProbaProBold";
	src: url("../fonts/ProbaProBold.otf");	
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProbaProLight";
	src: url("../fonts/ProbaProLight.otf");	
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProbaProMedium";
	src: url("../fonts/ProbaProMedium.otf");	
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProbaProSemiBold";
	src: url("../fonts/ProbaProSemiBold.otf");	
	font-style: normal;
	font-weight: normal;
}