/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.sect1_input, .sect2_button{
	width: 290px;
}
form .row .col-md-4:nth-child(1) h5,
form .row .col-md-4:nth-child(2) h5,
form .row .col-md-4:nth-child(1) p,
form .row .col-md-4:nth-child(2) p{
	padding-left: 0;
}
.section1 .col-md-4 p{
	display: none;
}
.sect1_button{
	padding: 25px 26px;
}
.sect2_img{
	display: none;
}
.for_caption.for_caption_active p{
	height: 115px;
}
.section4 .col-md-2 p{
	font-size: 19px;
}
.section4 .why_bl{
	padding-right: 40px;
}
.section7 .col-md-3 p{
	width: 100%;
}
.section8 h3 {
    margin-top: 80px;}
   .section9 h2{
   	width: 100%;
   }
  .line +p{
  	margin-top: 40px;
  	width: 100%;
  }
  .section5 h2{
  	width: 90%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.for_lg{
		display: none;	
	}
	.parallax{
		display: none;
	}
.sect1_input, .sect2_button{
	width: 200px;
}
.for_caption.for_caption_active p{
	height: 145px;
	width: 98%;
}
.section1 .col-md-4:nth-child(3) h5{
margin-top: -13px;
}
form .row .col-md-4:nth-child(1) h5,
form .row .col-md-4:nth-child(2) h5,
form .row .col-md-4:nth-child(1) p,
form .row .col-md-4:nth-child(2) p{
	padding-left: 0px;
}
.quality p{
	width: 100%;
}
.section4 .container{
	width: 100%;
}
.sect2_button{
	padding: 25px 20px;
}

.for_review_img{
	position: relative;
	height: 400px;
	margin-bottom: 40px;
}
.section6 h2{
	margin-bottom: 50px;
}
.video{
	width: 500px;
	margin-left: -250px;
	bottom: -140px;
}
.section8 h3{
	margin-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.section8 h2{
	margin-bottom: 40px;
}
.sect9_but{
	width: 200px;
	padding: 14px;
}
.line +p{
	margin-top: 60px;
width: 70%;
}
.section4 .col-md-5:nth-child(3) h6,
.section4 .col-md-5:nth-child(2) h6{
	padding-left: 5px;
}
.col-md-5 p{
	font-size: 16px;
}
.section4 .why_bl{
	padding-left: 30px;
	padding-top: 30px;
}
.section4 .col-md-2 p{
	font-size: 16px;
}
.map_block{
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	width: 400px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.for_sm{
		display: block;
	}
.fact_info{
	display: none;
}
.head2{
	padding-left: 0;
}
h1{
	font-size: 49px;
}
.head_row p{
	font-size: 17px;
}
.section1 .col-xs-4{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.sect1_input{
	display: block;
	width: 450px;
	margin-left: auto; margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}
.input_left{
	margin-bottom: 0;
}

.for_caption.for_caption_active p{

	height: 170px;
	width: 100%;
	line-height: 1.244;
}
.num{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	margin-top: 27px;
	max-width: 70px;
}
.num +h5{
	float: right;
	width: calc(100% - 110px);
}
.num +h5 +p{
	float: right;
	width: calc(100% - 110px);
}
h2{
	width: 100% !important;
}
.head_row .col-md-4:nth-child(2){
	padding-left:0px;
}
.logo{
	max-width: 50%;
}
.logo p{
	display: none;
}
.cont_menu{
	max-width: 50%;
}
.video{
	left: 2%;
	width: 96%;
	margin-left: 0;
	bottom: -150px;
}

.section9 .col-md-4{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.sect9_but{
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.line{
	margin-left: 10px;
	margin-right: 20px;
}
.line + p{
	width: 100%;
}
.section10 .col-md-3 p{
	width: auto;
}
.section1, .section2, .section3,
.section4, .section8, .section7,
.section5, .section6, .section9,
.section10, .sect_map{
height: auto;
padding-bottom: 30px;
}
.section8{
	padding-bottom: 150px;
}
.section4 .col-sm-2{
	display: none;
}
.section4 .why_bl{
	padding-left: 20px;
	padding-top: 30px;
	height: 320px;
	padding-right: 15px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 100% 0px;
}
.section1 .col-md-4 p, .section5 .col-md-4 p{
	display: none;
}
.section1 .col-md-4 h5, .section5 .col-md-4 h5, .section9 .col-md-4 h5{
	text-align: center;
}
.section5 .col-md-4{
	padding-top: 5px;
padding-bottom: 5px;
}

.sect_map{
	padding-bottom: 10px;
}
.sect_map .container{
	height: 300px;
	display: block;
}
.map_block{
	top: 0px;
}
.section4 .col-md-5:nth-child(2) h6,
.section4 .col-md-5:nth-child(3) h6{
	font-size: 25px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.popup{
	width: 300px;
	left: 50%;
	margin-left: -150px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 1px;
	display: none;
}
.popup h3{
	font-size: 27px;
}
.popup_photo, .popup_text{
	display: none;
}
.close{
	right: 0px;
	top: -30px;
	color: #22ad7a;
}
.popup_hover{
	width: 300px;
	left: 50%;
	margin-left: -150px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 1px;
}
.popup_hov{
	display: none;
}

.input_left{
	margin-bottom: 10px;
}

	.for_caption.for_caption_active p{
	height: 280px;}
.sect1_input, .sect2_button{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.section5 .col-md-4{
	padding-top: 0;
	padding-bottom: 10px;
}

.cont_menu .tel_menu{
	font-size: 18px;
}
.logo img{
	margin-right: 0;
}
header{
	padding: 0;
}
header .container{
	padding-left: 25px;
}
.head_row p{
	font-size: 15px;
}
h2{
	font-size: 28px;
}
h6{
	font-size: 20px;
}
.num{
	display: block;
	margin-bottom: 10px
}
.num + h5{
	width: 100%;
}
.num + h5 + p{
	width: 100%;
}

.section4{
	height: auto;
}
.for_review_img{
	height: 200px;
}
.section6 .col-md-6:nth-child(2){
	padding-left: 15px;
}
.section7 .col-xs-6{
	display: block;
	width: 100%;
}
.section8 .col-md-6 > span{
	margin-right: 0px;
	display: block;
	float: none;
}
.section8 .col-md-6 p{
	padding-left: 15px;
	width: 100%;
}
.section8 .col-md-6 h5{
	width: auto;
}
.section4 .col-md-5:nth-child(2) h6, .section4 .col-md-5:nth-child(3) h6{
	display: none;
}
.for_caption.for_caption1.for_caption_active p{
	height: 160px;
}
.for_caption.for_caption2.for_caption_active p{
	height: 190px;
}
.for_caption.for_caption3.for_caption_active p{
	height: 210px;
}
.for_caption.for_caption4.for_caption_active p{
	height: 170px;
}
.section8 h3{
	width: 100%;
}
.section9{
	padding-top: 100px;
}
.section4 .col-md-2, .section4 .col-md-5{
	width: 100%;
}
.section4 .col-md-2{
	display: block;
	padding: 1px;
}
.video{
	bottom: -85px;
}
.line +p{
	font-size: 18px;
}
.section10 .col-md-3 p{
	font-size: 13px;
}
.map_block{
	max-width: 320px;
}

.sect_map .container{
	height: 350px;
}
.map_block .tel {
    font-size: 27px;}
.map_block h5{
	font-size: 29px;
}
address{
	width: 85%;
}
.sect2_button {
    margin-top: 20px;
   }
   form.form1{
   	padding-top: 40px;	
   }
.numbers{
	margin-top: 30px;
}
.section7 .col-md-3{
	padding-bottom: 35px;
}
.section7 h6{
	margin-bottom: 15px;
}
.section7 .col-md-3 img{
	margin-bottom: 10px;
}
.section8 .col-md-6 p{
	padding-left: 0;
}
.section8 .col-md-6 h5{
	padding-top: 10px;
}
.section8 .col-md-6{
	padding-bottom: 35px;
}
.section8{
	padding-bottom: 200px;
}
.section9{
	padding-top: 140px;
}
h6{
	line-height: 1.3;
}
.section10 h2{
	margin-bottom: 40px;
}
.section10{
	padding-top: 30px;
}
.section10 .col-md-3{
	padding-bottom: 30px;
}
form .row .col-md-4:nth-child(1) h5, form .row .col-md-4:nth-child(2) h5,

 .section1 .col-md-4 h5, .section5 .col-md-4 h5, .section9 .col-md-4 h5{
	    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 0;
}
.section1 h6 {
    margin-bottom: 20px;
}
.num{
	margin-left: 0;
}
.quality h5{
	margin-top: 10px;
	margin-bottom: 10px;
}
.quality{
	padding-top: 40px;
}
}
