/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RalewayM";
	src: url("../fonts/Raleway-Medium.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RalewayS";
	src: url("../fonts/Raleway-SemiBold.ttf");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
