*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #000;
}
p{
	margin: 0;
}
b{
	font-family:"RalewayS";
	font-weight: normal;
}
button p{
	margin-top: 15px;
	margin-bottom: 15px;
}
header{
	min-height: 800px;
	background: url("../img/bg_1.jpg") no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
}
section, .section4, .partners,.section3, .groups{
	padding-top: 40px;
	padding-bottom: 40px;
}

.top_nav{
	padding: 20px;
}
.top_nav:after{
    content: '';
    display: block;
    clear: both;

}
.logo_main{
	display: inline-block;
	float: left;
}
.top_menu{
	display: inline-block;
	float: right;
}
.top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px 15px;
}
.top_menu li a, .top_menu2 li a{
	color: #fbfbfb;
	opacity: 0.75;
}
li a.active{
	opacity: 1;
}
h1{
	margin-top: 200px;
  font-family: Raleway;
  font-size: 38px;
  text-align: center;
  color: #fbfbfb;
}


.section1 p{
  color: #000000;
}
.section2, .section5, .groups{
	background: #e6e6e6;
}
.img_bg{
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
.bg_img{
	width: 100%;
	height: auto;
	margin: 0;
}
.img_bg button{
position: absolute;
top: 150px;
left: 50%;
 padding: 15px 35px;
  opacity: 0.8;
  border-radius: 9px;
  background-color: #fbfbfb;
  margin-left: -80px;
  border: none;
font-weight: 500;
}
.but3{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #303030;
  padding: 5px 26px;
  border: none;
  margin-top: 30px;
}
.but3 p{
	color: #fbfbfb;
	line-height: 1;
}

.port{
	width: 100%;
	height: auto;
}
.row{
	padding-top: 20px;
	padding-bottom: 20px;
}
h6{
	font-size: 18px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 500;
}
.logo{
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 20%;
	margin-top: 50px;
	margin-bottom: 20px;
}
h5{
 font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  text-align: center;
}
.groups a{
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}
.contacts{
	padding-bottom: 60px;
}
.but4 p{
	line-height: 1;
	color: #fbfbfb;
}

header .but4{
	margin-top: 150px;
}
header .but4 p{
	color: #ffffff;
	line-height: 1;
} 
.but4{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  opacity: 0.7;
  border-radius: 10px;
  background-color: #303030;
  padding: 4px 30px;
  border: none;
  margin-top: 40px;
}
.but1{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #303030;
  padding: 4px 30px;
  border: none;

}
.logo_text{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #fbfbfb;
  line-height: 2.5;

}
.top_menu2{
	display: none;
}
.fa-bars{
	display: none;
}
.hisrc.small{
	display: none;
}