/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.top_menu{
	padding-left: 0;
}
.top_menu li{

	padding: 5px 10px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.top_menu{
	display: none;
}
.top_menu2.shown{
	display: inline-block;
	float: right;
}
.top_menu2 li{
	list-style: none;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}
.top_menu2 li a{
	color: #fbfbfb;
}
.fa-bars{
	display: block;
	color: #fbfbfb;
	font-size: 28px;
	text-align: right;
	line-height: 2;
}
header .but4{
	margin-top: 60px;
}
h1{
	margin-top: 60px;
	font-size: 32px;
}
.people p{
	line-height: 1.2;
	font-size: 14px;
}
.logo{
	width: 40%;
}
body{
	font-size: 14px;
}
.img_bg button{
	top: 80px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
h1{
	font-size: 24px;
}
header{
	min-height: 600px;
}
.hisrc.big{
	display: none;
}
.people .col-xs-7{
	padding-top: 20px;
	width: 100%;
	text-align: left;
}
.hisrc.small{
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

