header{
	display: block;
	padding-bottom: 10px;
	height: auto;
}
.menu_div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: sans-serif !important;
	font-style: normal !important;
}
.our_benefits li p{
	font-family: "Avenir";
}
.form_but p{
	font-family: "Avenir";
}
section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.photos{
	padding-top: 0;
}
.section1{
	padding-bottom: 0px;
	height: auto;
}
.photos h2{
	text-transform: none;
}
.section1 h3{
    font-size: 35px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.for_useful_video{
	display: block;
	padding: 20px;
	height: 360px;
}

.contacts h2{
	margin-bottom: 50px;
}
.about .caption{
	font-size: 14px;
	line-height: 1.3;
	font-weight: 300;
}