header{
	display: block;
	padding-bottom: 10px;
	height: auto;
}
.menu_div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none;
}
h2,h3,h4,h5,h6{
	font-family: sans-serif !important;
	font-style: normal !important;
}
.our_benefits li p{
	font-family: "Avenir";
}
.form_but p{
	font-family: "Avenir";
}
section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.photos{
	padding-top: 0;
}
.section1{
	padding-bottom: 0px;
	height: auto;
}
.photos h2{
	text-transform: none;
}
.section1 h3{
    font-size: 35px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.for_useful_video{
	display: block;
	padding: 20px;
	height: 360px;
}

.contacts h2{
	margin-bottom: 50px;
}
.about .caption{
	font-size: 14px;
	line-height: 1.3;
	font-weight: 300;
}
h1{
	text-transform: none;
	text-align: left;
}
.question h4{
	border-bottom: none;
	font-weight: 100;
	text-transform: none;
}
.question p{
	font-size: 17px;
}
.quesstions{
	padding-top: 80px;
	background: #f7f7f7;
}
.quesstions h2{
	margin-bottom: 70px;
}
.question{
	padding: 10px 15px;

}
.question1.active p{
	height: 210px;
}
.question2.active p{
	height: 230px;
}
.question3.active p{
	height: 110px;
}
.question4.active p{
	height: 150px;
}
.question5.active p{
	height: 110px;
}
.question6.active p{
	height: 60px;
}
.question7.active p{
	height: 90px;
}
.question8.active p{
	height: 300px;
}
.question9.active p{
	height: 200px;
}
.question10.active p{
	height: 200px;
}
.for_formm{
	background: #222;
	padding: 15px;
	border-radius: 8px;
	height: auto;
}
.tac3{
	color: #fff;
}
.tac4{
	color: #fff;
}
.inputt2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
textarea{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
textarea + .form_but{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background: #fed136;
padding: 20px 40px;
display: block;
border: none;
margin-top: 40px;
}
textarea + .form_but:hover{
	background: #f7f7f7;
}
textarea + .form_but p{
	color: white;
font-size: 18px;
font-family: "Montserrat";
text-align: center;
text-transform: uppercase;
margin: 0;
}