*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
p,h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}
input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0px;
}
*:focus{
	outline:none;
}
/*Элемент выше для того, чтобы не было цвето у фокусированных*/

body {
	font-family:  sans-serif;
	font-size: 20px;
	min-height: 2900px;
	/* background-image: -moz-linear-gradient( 90deg, rgb(240,229,223) 0%, rgb(216,198,189) 50%, rgb(237,217,190) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(240,229,223) 0%, rgb(216,198,189) 50%, rgb(237,217,190) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(240,229,223) 0%, rgb(216,198,189) 50%, rgb(237,217,190) 100%);
*/
background: #fefefe;}
header{
	padding-top: 0px;
}
.slider_li{
	min-height: 800px;
}
.sslide1{
	background: url("../img/bg1.jpg") no-repeat 50% 0%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-blend-mode: screen;

}
.sslide2{
	background: url("../img/bg2.jpg") no-repeat 50% 0%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-blend-mode: screen;
}
.sslide3{
	background: url("../img/bg3.jpg") no-repeat 50% 0%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-blend-mode: screen;
}
.sslide4{
	background: url("../img/bg1.jpg") no-repeat 50% 0%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-blend-mode: multiply;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.unslider-arrow.next{
	right: 50px;
	top: 50%;
	margin-top: -50px;
	font-size: 0px;
	display: block;
	width: 52px;
	height: 99px;
	background: url('../img/sprite.png') no-repeat -57px -140px;
	opacity: 0.6	;
}
.unslider-arrow.prev{
	left: 50px;
	top: 50%;
	margin-top: -50px;
	font-size: 0px;
	display: block;
	width: 52px;
	height: 99px;
background: url('../img/sprite.png') no-repeat 0px -140px;
opacity: 0.6	;
}
.unslider-arrow.next:hover, .unslider-arrow.prev:hover{
	opacity: 1;
}
.unslider{
position: relative;
}
.unslider-nav{
	display: block;
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 2000;
	margin-left: -40px;
}
.unslider-nav ol li{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	border-color: #000;
}
.unslider-nav ol li.unslider-active{
	background: #000;
}
.for_h1_1, .for_h1_3{
	margin-top: 200px;
	background: rgba(50,50,50,0.8);
	padding: 10px 20px;
}
.for_h2_4{
	background: rgba(50,50,50,0.8);
	padding: 10px 20px;
}
h1{
	font-size: 80px;
  font-family: "PFSquareSansProMedium";
  color: rgb(255, 255, 255);  line-height: 1;
  font-weight: 300;
}

h1 span{
	color: #FAD519;
	font-size: 100px;
}

.slider_li button{
	background: #FAD519;
	text-align: center;
	border: none;
	padding: 15px 30px;
}
.slider_li button p{
	font-size: 25px;
	color: #000;
}
.slide1button, .slide2button{
	margin-top: 100px;
}
.for_h1_2{
	margin-top: 100px;
	padding: 10px 20px;	
	background: rgba(50,50,50,0.8);
}
.for_h1_2 h1{
	font-size: 70px;
}
.for_h1_2 span{
	background: none;
	font-weight: 700;
	line-height: 1.4;
	font-size: 60px;
	
}
.numbers{
	font-size: 240px;
color: #FAD519;
margin-top: 120px;
display: block;
font-family: "font2";
margin-left: -62px;}
.slide3button, .slide4button{
	margin-top: 100px;
}
.sslide4 h2, .sslide2 h2{
	color: #fff;
font-family: "PFSquareSansProMedium";
font-size: 35px;
margin-top: 15px;
}

.my-slider{
	position: relative;
}
.my-slider .menu_abs{
	position: absolute;
	top: 0px;
	padding-top: 30px;
	display: block;
	width: 100%;
	z-index: 9999;
	height: 100px;
	font-family: "PFSquareSansProMedium";
	font-size: 20px;
	border-bottom: 1px solid #353535;

}
a{
	color: inherit;
}
.tel{
	display: inline-block;
	float: right;
	width: 30%;
	text-align: center;
	color: #000;
	font-size: 25px;
	font-weight: 300;
}

.logo{
	display: inline-block;
	width: 10%;
}
.descr{
	display: inline-block;
	width: 20%;
}
.for_but{
	display: inline-block;
	text-align: center;
	width: 39%;
}
.for_but button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #FAD519;
	background: none;
	border: none;
}
.for_but button p{
	font-size: 30px;
}
.line{
	width: 50px;
	margin-top: 0;
	margin-bottom: 0;
}
.take{
	font-size: 16px;
	font-weight: 100;
}

.our_benefits{
	display: block;
	width: 100%;
	list-style: circle outside;
}
.section1{
	padding-top: 20px;
	height: 700px;
/*	background: url(../img/bg11.jpg);
	-webkit-background-size: cover;
	background-size: cover;
*/ 

}
.section1 h3{
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
	color: #353535;
}
.our_benefits li{
	display: block;
	width: 100%;
	padding: 20px 40px;
	margin-bottom: -2px;
	list-style: square outside;
	
}
.our_benefits li p{
	font-size: 27px;
	font-family: "PFSquareSansProMedium";
	font-weight: 300;
	color: #353535;
}

.inputt{
	background: transparent;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(67,67,67,0.4);
	padding: 15px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #353535;
}
.section1 h4{
	font-size: 20px;
	text-align: center;
	color: #353535;
	margin-bottom: 40px;
}
.form_but{
	display: block;
	border: 2px solid #FAD519;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: none;
	padding: 20px;
	font-size: 25px;
}
.form_but:hover{
background: #FAD519;
}
.form_but:hover p{
	color: #000;
}
.form_but p{
	color: #353535;
}
.menu_stiky{
	margin-bottom: 50px;
	display: block;
	text-align: center;
}
	.menu_stike ul{
	text-align: center;
}
.menu_stiky ul li{
	display: inline-block;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}
.menu_stiky ul li a{
	font-size: 18px;
	color: #353535;
	line-height: 1.3;
	border-bottom: 2px solid #353535;
	transition:  all 0.5s ease-in;
}
.menu_stiky ul li a.active, 
.menu_stiky ul li a:hover{
border-bottom: 2px solid #FAD519;
}


.photos{
	min-height: 800px;
	/*background: url("../img/photos_bg.jpg");*/
	-webkit-background-size: cover;
	background-size: cover;
}
.col-xs-4{
	height: 200px;
	padding: 5px;
}
.photto{
	position: relative;
}
.photo1 .photto{
	background: url("../img/11.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.photo1{
	height: 400px;
}
.photo2 .photto{
	background: url("../img/12.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.photo3 .photto{
	background: url("../img/13.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.photo4 .photto{
	background: url("../img/14.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.photo5 .photto{
	background: url("../img/15.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.photo6 .photto{
	background: url("../img/16.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

.photo7 .photto{
	background: url("../img/17.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.photo5{
	height: 400px;
	float: right;
}
.photto{
	width: 100%;
	display: block;
	height: 100%;
}
.photos h2{
	font-size: 30px;
	color: #000;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.onhover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	border: 12px solid #ffd500;
	display: none;
}
.photto:hover .onhover{
	display: block;
	cursor: pointer;
}
.photto .onhover h2{
	color: #ffd500;
	margin-top: 50px;
	font-size: 28px;
	font-family: "Montserrat";
	margin-bottom: 20px;
}
.photto .onhover p{
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-family: "Montserrat";
}
.question p{
	height: 0px;
	overflow: hidden;
	transition: 1s all ease-in;
}
.questions{
	padding-top: 50px;
	padding-bottom: 50px;
	/*
	background: rgba(255,213,0,0.2);
	background: url("../img/cost.jpg") no-repeat;*/
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "PFSquareSansProRegular";
	min-height: 800px;
	c
}
.questions h2{
	text-align: center;
	font-size: 30px;
	font-family: "Montserrat";
	font-weight: 300;
	margin-bottom: 100px;
}
.questions .question {
	padding-top: 7px;
	padding-bottom: 7px;
}
.question.active p{
	height: 320px;
	transition: 1s all ease-in;

}
.question_text{
	font-family: Open Sans;
padding-top: 20px;
padding-left: 30px;
line-height: 1.2;
}
.question h4{
	text-transform: uppercase;
	font-family: Open Sans;
	font-weight: 600;
	border-bottom: 2px solid rgba(67,67,67,0.2);
}

.ok_img{
	width: 20px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.inputt2{
	display: block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 20px;
}
.tac3{
	text-align: center;
	font-family: "Montserrat";
	font-size: 30px;
	line-height: 1.2;
	color: #555555;
}
.tac4{
	text-align: center;
	font-family: "Montserrat";
	font-size: 26px;

	color: #353535;
	line-height: 1.2;
}
textarea{
	width: 100%;
	color: #454545;
	font-family: "Montserrat";
	padding: 10px 20px;
}
textarea + .form_but {
	width: 100%;
	margin-top: 30px;
}
.form_but p{
	font-family: "Montserrat";
}
.truth{
	padding-top: 70px;
	padding-bottom: 70px;
}
.truth h2{
	text-align: center;
	font-size: 34px;
	font-family: "Montserrat";	
}
.truth .for_video{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.myth_img{
	opacity: 0;
transition: all 1s ease-in;
}
.myth_img.myth_img_active{
	opacity: 1;
}
.myth_text{
	position: absolute;
	opacity: 0;
	transition: all 1s ease-in;
}
.myth_text.myth_text_active{
	display: block;
	opacity: 1;
}
.for_myth_text{
	padding-top: 40px;
}
.myth_text h5{
	font-size: 25px;
	font-family: "Montserrat";
	margin-top: 30px;
	margin-bottom: 30px;
}
.myth_text p{
	padding-left: 0px;
	padding-top: 20px;
	font-size: 17px;
	font-family: Open Sans;
	line-height: 1.2;
	text-align: justify;
	padding-right: 25px;
}
.myth_text .numm{
	font-size: 22px;
	color: #000;
	margin-top: 15px;
	margin-bottom: 15px;
}
.myth_text .numm span{
	font-weight: bold;
}
.myth_img{
	width: 100%;
	height: auto;
	position: absolute;
	opacity: 0;
}
.for_myth_img{
	padding-top: 180px;
	position: relative;
	height: 560px;
	overflow: hidden;
	transition: 1s ease-in all;
}
.for_left{
	position: absolute;
	width:40px;
	height:40px;
	top:70px;
	left:0px;}
.for_right{
	position: absolute;
	width:40px;
	height:40px;
	top:70px;
	left:60px;}
.fa-chevron-left,
.fa-chevron-right{
	font-size: 26px;
	cursor: pointer;
}
.mythes{
	min-height: 700px;
}
address{
	font-size: 24px;
	color: #fff;
	font-family: "Montserrat";
	font-style: normal;
	padding-top: 25px;
}
address .fa{
	margin-right: 15px;
}
.contacts .teleph{
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 24px;
}
.contacts{
	padding-bottom: 0px;
}
.img-responsive{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 165px;
	width: auto;
	overflow: hidden;
	border-radius: 50%;
	border: 10px solid #e7e7e7;
}
.for_but{
	width: 29%;
}
.descr{
	width: 30%;
}
.descr p{
	font-size: 16px;
}
.logoo{
	display: inline-block;
	width: 15%;
}
.descr .logo_text{
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 20px;

}
a:hover{
	cursor: pointer;
}