@media only screen and (min-width : 320px) and (max-width : 480px) {
h1{
	font-size: 30px;
}
.menu_div{
	display: none;
}
.logo{
	text-align: center;
	float: none;
}
.head_h2{
	font-size: 20px;
}
.portfolio h5{
	font-size: 17px;
}
.col-xs-hidden .work{
	display: none;
}
.col-xs-6{
	width:80%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.about .col-md-5{
	text-align: center;
}
.about .container .row:nth-child(odd) .col-md-5{
	text-align: center;
}
.about img{
	margin-left: auto;
	margin-right: auto;
}
.date2{
	display: block;
}
.date_h{
	display: none;
}
.about .row{
	border-top: 1px solid #e1e1e1;
}
.contacts{
	padding-bottom: 150px;
}
.mob_menu_d{
	display: block;
}
header .fa-bars{
	display: block;
}

#story1,
#story2{
	width:250px;
}

.effect:hover .caption{
	top:-100%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
h1{
	font-size: 40px;
}
.menu li a{
	font-size: 14px;
}
.menu li{
	padding: 20px 5px;
}
.hid1{
	display: none;
}
.menu{
	padding-left: 20px;
}
.logo{
	margin-top: 30px;
	margin-left: 20px;
}
.head_h2{
	font-size: 30px;
}
.portfolio h5{
	font-size: 16px;
}
.col-xs-hidden .work{
	display: none;
}
.l_img{
	margin-left: auto;
}
.about .date{
	margin-top: 15px;
}
.about p{
	font-size: 12px;
}
.date2{
	display: none;
}
.contacts{
	padding-bottom: 150px;
}


}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
.col-xs-hidden{
	display: none;
}
h1{
	font-size: 60px;
}
.head_h2{
	font-size: 36px;
}
.menu li a{
	font-size: 14px;
}
.about .date{
	margin-top: 25px;
}
.date2{
	display: none;
}
.contacts{
	padding-bottom: 150px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
.col-xs-hidden{
	display: block;
}
h1{
	font-size: 60px;
}
.about .date{
	margin-top: 10px;
}
.date2{
	display: none;
}



}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.about .date{
	margin-top: 20px;
}
.soc2{
	padding-top: 50px;
}
.date2{
	display: none;
}
header{
	height:100vh;
}
}