@media only screen and (max-width: 767px)  {

body {
overflow-x:hidden!important;
/*-ms-touch-action: pan-x;*/
font-size:14px;
line-height: normal;
}
.noscroll {
position:static;
}
.modal-overlay{
top:123px;
}
p {
margin: 0 0 0.8em 0;
}
h2, .h2 {
font-size: 18pt;
line-height: 25pt;
padding:0 20px;
}


.content .twothrd{
width:100%;	
}

.scale {
transform:         scale(.66);
-moz-transform:    scale(.66);
-webkit-transform: scale(.66);
-o-transform:      scale(.66);
-ms-transform:     scale(.66);
	
}
.inner .banner_block {
min-height: 60px;
}
.banner_in{
height:70vw;
background-size: cover;
vertical-align: middle;
display: table-cell;
}
.page_10276 .banner_in{
height:40vw;
background-image:none!important;
}
.banner_in h1 {
margin: 0px 10px 10px 10px;
font-size: 16pt;
}
.banner_in p{
margin:0 10px;
font-size:9pt;
line-height:normal;
}
.banner_in img.mobile{
max-width:100%;
height:auto;
}

.page_10271 .banner_in{
display:none;
}
.page_10271 table td, .page_10271 table td img{
max-width:95vw;
}


.blur{
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);
}
.block{
padding: 18px 0px 22px 0;
}
.block p{
padding-left:10px;
padding-right:10px;
}
.block p img, .block p iframe{
max-width:95vw!important;
height:auto!important;
}


body .mobile{
display:inherit;
}
html, body, .fwd{
min-width:0;
width:100%;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: 'liga', 'kern';
}
.wht .header .logo {
background: url(http://vipceiling.ru/DESIGN/SITE/images/logo_mobile.png) no-repeat center center;
background-size:auto 25px;
}
.header{
height: 50px;
line-height: 52px;
padding:0 0 0 46px;
}
.header .logo {
background: url(http://vipceiling.ru/DESIGN/SITE/images/logo_mobile_w.png) no-repeat center center;
background-size:auto 25px;
margin-left:1%;
margin-top:-4px;
width:180px;
height:30px;
}
.logo .totop{
pointer-events: none;
}
.wht .header .logo span{
color:#006DC0;
}
.logo span{
position:absolute;
right:10px;
display:block;
word-spacing: 180px;
font-size:14px;
line-height:15px;
font-weight:600;
color:#006DC0;
width:79px;
top:8px;
}
.txt_mob .block, .txt_mob .banners2 {
height:60vw;
padding:0;
}
.txt_mob .banners2 {
width:384vw;
padding-top:4vw;
}
.txt_mob{
background:#ebebeb;
height:60vw;
position:relative;
font-size:30px;
letter-spacing:-1px;
line-height:35px;
width:100vw;
overflow:hidden;
overflow-x:scroll;
display:block;
-webkit-overflow-scrolling: touch;
}
.txt_mob .banner2{
width:60vw;
height:52vw;
margin:auto 0;
background-size:cover;
background-repeat:no-repeat;
background-position:top center;
display:inline-block;
margin-left:5px;
vertical-align:top;

}
.txt_mob .banner2 span{
color:#fff;
padding-top:10vw;
text-transform:uppercase;
font-size:14pt;
display:block;
width:100%;
height:52vw;
background:rgba(0,0,0,.7);
box-sizing: border-box;
}
.txt_mob .block>span{
margin:50px 0 0 0;
display:inline-block;
}
.header .logo a, .wht .header .logo a{
width:230px;
height:30px;
}
.header .logo a img{
display:none;
}
.mnu_but{
width:36px;
height:36px;
}
.wht .mnu_but span, .wht .mnu_but span::before, .wht .mnu_but span::after {
    background: #006DC0;
}
.mnu_but span{
	width: 20px;
	top: 14px;
	height: 4px;
	left:3px;
}
.mnu_but span::before, .mnu_but span::after {
	height: 4px;
}
.mnu_but span::before {
	top: -8px;
}
.mnu_but span::after {
	bottom: -8px;
}



.mnutop{
padding-left: 10px;
}
.mnutop_full .search {
width: 100%;
box-sizing: border-box;
border-radius:4px;
}
.block .mnutop_full {
box-sizing: border-box;
padding:5px 0 50px 0;
width:100vw;
overflow-y:auto;
overflow-x:hidden;
top:60px;
height:98vh;
background-color:#006DC0;
}
.mnutop_full .srch_b {
float:none;
margin-top:0px;
}
.mnutop_full .wrapper {
min-width: 0;
margin: 0 10px;
color:#fff;
display:block;
width:95%;
box-sizing: border-box;
}
.hdr_top .mnutop_full a:nth-child(1) {
-webkit-transition-delay: 500ms,500ms;
transition-delay: 500ms,500ms;
}
.hdr_top .mnutop_full a:nth-child(2n) {
-webkit-transition-delay: 400ms,400ms;
transition-delay: 400ms,400ms;
}
.hdr_top .mnutop_full a:nth-child(3n) {
-webkit-transition-delay: 350ms,350ms;
transition-delay: 350ms,350ms;
}
.hdr_top .mnutop_full a:nth-child(4n) {
-webkit-transition-delay: 300ms,300ms;
transition-delay: 300ms,300ms;
}
.hdr_top .mnutop_full a:nth-child(5n) {
-webkit-transition-delay: 250ms,250ms;
transition-delay: 250ms,250ms;
}
.hdr_top .mnutop_full a {
color:#fff;
border:none;
border-bottom: solid 1px rgba(255,255,255,.2);
width:100%;
opacity: 0;
-webkit-transform: scale(1.1) translateY(-14px);
-ms-transform: scale(1.1) translateY(-14px);
transform: scale(1.1) translateY(-14px);
-webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}
.mnu_opened .hdr_top .mnutop_full a, .mnu_opened .hdr_top .mnutop_full .hdr {
padding:20px 0;
line-height: 20px;
opacity: 1;
-webkit-transform: none;
-ms-transform: none;
transform: none;
}
.hdr_top .mnutop_full .row a {
padding:3px 0;
font-size:17px;
border:none;
}
.mnutop_full .row{
border-top: solid 1px rgba(255,255,255,.2);
padding-bottom:20px;
overflow:hidden;
min-height: 40px;
max-height: 400px;
}
.mnutop_full .row.noborder{
border-top: none;
}
.mnutop_full .row.minim{
max-height:40px;
}
.mnutop_full .hdr {
font-size: 21px;
margin: 0;
opacity: 0;
-webkit-transform: scale(1.05) translateY(-14px);
-ms-transform: scale(1.05) translateY(-14px);
transform: scale(1.05) translateY(-14px);
-webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}
.mnutop_full .hdr span{
color:#fff;
margin:0 10px;
}
.header .close_mnu{
display:none;
}
.city_full .close_cty{
display:inline-block;
padding:10px 0 0 10px;
font-size: 27px;
color:#b3b3b3;
vertical-align: text-bottom;
margin-bottom: -7px;
}
.city_full .pc_in{
margin-left:10px;
}
.mnu_opened .close_mnu{
display:block;
position:absolute;
color:#fff;
right:10px;
top:-2px;
font-size:27px;
}

.no_mobile, .fwd.no_mobile{
	display:none;
}
.no_mobile, .fwd.no_mobile, .banners .icons {
	display:none !important;
}
.top_block .citys .rot_down{
font-size:12px;
margin-left:5px;
}
.banners{
height:77vw;
width:100vw;
padding:0;
overflow:initial;
}
.banners .dots{
bottom:-30px;
}
.banners .dots .dot{
border:solid 1px #006DC0;
}
.banners .dots .dot.active{
background:#006DC0;
}
.banners_changer {
display:none!important
}
.banners .banner, .banners .banner img{
top:0px;
left:0px;
right:0px;
text-align:center;
max-width:100vw;
max-height:77vw;
width:auto;
margin:0 auto;
height:auto;
}
.banners .banner{
background-image:none!important;
overflow: hidden;
}
.banners .banner a{
width:100vw;
height:auto;
}
.block .city_full {
left:0px;
width:100%;
top:123px;
}
.ban_foot{
background:#ebebeb;
text-align:center;
padding:40px 10px 10px 10px;
text-align:left;
}
.ban_foot .button:first-child{
margin-right:10px;
}
.ban_foot .button{
background:#fff;
padding:9px 3px;
border:solid 1px #006DC0;
border-radius:5px;
display: inline-block;
text-align:center;
text-transform:uppercase;
color:#006DC0;
width:45%;
}


.svg_pointer{
background:url('http://vipceiling.ru/DESIGN/SITE/images/pointer_map.svg');
width:10px;
height:15px;
}
.svg_pointer .ico{
fill:#2387b5;
}



.city_full .city_srch {
width:76vw;
-webkit-text-size-adjust:none;
}
.hdr_top .city_full a {
font-size:16px;
line-height:30px;
}
.submit {
padding: 8px 20px;
height:40px;
margin:30px auto 0 auto;
box-sizing: border-box;
max-width:400px;
display:block;
width:100%;
background:#006DC0;
color:#fff;
border-radius:5px;
text-transform:uppercase;
text-align:center;
}
.submit:visited{
color:#fff;
}

.callback .dir_left, .callback .dir_right{
width:100%!important;
}
.callback .dir_left img{
float:none!important;
display:block;
max-width:100%;
}
.callback .dir_right .submit{
margin-top:40px;
}
.callback .dir_right textarea{
width:100%!important;
}
.callback.block {
padding: 20px 10px;
margin:0 auto;
text-align:center;
}
.callback h2 {
text-align:center;
margin:0 auto 90px auto;
max-width:230px;
float:none;
font-size: 16pt;
line-height: 16pt;
font-weight: bold;
letter-spacing: -0.5pt;
}
.callback h2 b{
font-size: 15pt;
font-weight:400;
}
input.ph{
width:100%;
max-width:400px;
box-sizing:border-box;
margin:10px auto;
padding:25px 15px;
background:none;
font-size:23px;
font-weight:100;
}

.callback .block_ftr:before{
content:'или ';
}
.callback .block_ftr {
width:320px;
position: absolute;
margin: -220px 0 0 -160px;
left:50%;

}



body .top_txt .block{
padding:0;
display:flex;
flex-flow: column;
}
body .top_txt .bl1{
order:2;
}
body .top_txt .bl2{
order:1;
border-top: none;
}
body .top_txt .bl3{
order:5;
}
body .top_txt .bl4{
order:3;
}
body .top_txt .bl5{
order:4;
}
body .top_txt b {
font-size: 12pt;
font-weight: 400;
margin-top: 26px;
display: block;
}
body .top_txt b .mobile{
display:inline;
}
body .top_txt .fll{
width:70px;
}
body .top_txt .link{
color:#000;
text-align:right;
margin: -20px -10px;
width:100%;
}
.top_txt .link a{
position:absolute;
width:100vw;
font-size:0px;
display:block;
left:0px;
right:0px;
height:40px;
top:10px;
}
.top_txt .link small{
margin-right:10px;
font-size:12pt;
}
.top_txt .txt_ico{
transform:         scale(.66);
-moz-transform:    scale(.66);
-webkit-transform: scale(.66);
-o-transform:      scale(.66);
-ms-transform:     scale(.66);
}
.top_txt .txt_ico.i5{
margin-left:3px;
}
.top_txt .txt_ico.i2{
margin-left:-3px;
margin-top:0;
}
body .top_txt .txt_bl:first-child {
margin-bottom: 0;
}
body .top_txt .txt_bl{
position:relative;
border-top: solid 1px #b3b3b3;
overflow:hidden;
height: 75px;
margin-right:auto;
width:100%;
display: block;
}




.clmn{
	min-width:0;
	width:100%;
	max-width:766px;
}
.block.hdr_top{
padding: 5px 0;
position:fixed;
background:#006DC0;
}
.wht.block.hdr_top{
background:#fff;
}

.map_cover{
display:block;
height:200px;
width:100vw;
text-align:center;
position:relative;
}
.map_cover .image{
position:absolute;
display:block;
top:0px;
left:0px;
right:0px;
height:200px;
width:100vw;
background-image:url(http://vipceiling.ru/DESIGN/SITE/images/mob_map.jpg);
background-repeat:no-repeat;
background-position:center center;
background-size:cover;
text-align:center;
-webkit-filter: brightness(60%);
-moz-filter: brightness(60%);
-o-filter: brightness(60%);
-ms-filter: brightness(60%);
filter: brightness(60%);
z-index:-1;
}
.map_cover>span{
color: #fff;
font-size: 13pt;
letter-spacing: -1px;
line-height: 15pt;
margin:50px 0 0 0;
display:inline-block;
}
.map_m{
height:250px;
display:none;
}



.top_block .citys{
color:#2d2d2d;
margin: 13px 0 0 10px;
line-height:12pt;
}
.top_block .submit{
margin: 12px 10px 8px 0;
float:right;
width:50%;
color:#fff;
padding:0;
font-size: 14px;
}
.mobile.top_block div{
display:inline-block;
}
.mobile.top_block .mi_addr{
margin-bottom:-3px;
}

.header .mobile.phone{
font-family: 'entypo';
display:inline-block;
color:#006DC0;
font-size:37px;
margin: 2px -11px 0 0;
}
.mobile.top_block{
width:100%;
background-color:#ebebeb;
margin-top:60px;
line-height:48px;
overflow:hidden;
display:block;
}
.top_block .of_l a{
margin:0px;
font-size:21px;
}
.top_block a, .top_block .of_l a, .top_block .citys span {
font-size:10pt;
letter-spacing:-0.2px;
color:#2d2d2d;
}
.top_block small {
color:#006DC0;
}
.top_block .of_l {
float:right;
margin:3px 20px 0 0;
}


.footer{
overflow:hidden;
}
.footer .submit{
line-height: 17pt;
}
.footer .socials{
text-align:justify;
width: 310px;
}
.footer .socials:after{
content: '';
display: inline-block;
width: 100%;
}
.socials .it {
border:solid 1px rgba(179,179,179,0.5);
border-radius:5px;
display:inline-block;
width:45px;
height:45px;
vertical-align:top;
padding-top:7px;
box-sizing: border-box;
}
.socials .it .mob_ico{
vertical-align:middle;
margin-left:auto;
margin-right:auto;
display:block;
}
.to_full{
float:right;
text-align:right;
border:solid 1px rgba(179,179,179,0.5);
border-radius:5px;
padding:5px 20px;
font-size:12px;
line-height:18px;
text-align:center;
}



.mobile.buttons{
padding:7px 0 5px 0;
font-size:20px;
text-align:left;
border-bottom:solid 1px #b3b3b3;
position:relative;
height: 57px;
cursor:pointer;
}
.mobile.buttons .mob_ico{
margin-left:10px;
margin-top: -2px;
vertical-align: middle;
}
.mobile.buttons span{
margin:15px 0 0 10px;
display:inline-block;
vertical-align:top;
}
.mobile.buttons .more{
position:absolute;
right:10px;
top:21px;
}




.gallery, .gallery_in{
margin:0 10px;
}
.gallery .photos .item, .gallery_in .photos .item{
width:49%;
height:auto;
margin: 0 5px 0 0;
}
.gallery .photos .item:hover, .gallery_in .photos .item:hover{
-webkit-filter: none;
-moz-filter: none;
-o-filter: none;
-ms-filter: none;
filter: none;
transition:none;
}
.gallery .photos .item:nth-child(2n+2), .gallery_in .photos .item:nth-child(2n+2) {
margin-right: 0;
}
.gallery .photos .item img, .gallery_in .photos .item img{
width:100%;
height:20%;
display:block!important;
}
.litebox-nav{
display:none!important;
}
.litebox-overlay .litebox-container{
left:0px;
right:0px;
}


.reviews, .review{
margin:10px 10px 0 10px;
}
.reviews .item_s .date {
position: absolute;
right: 0px;
top: 21px;
font-size:12px;
}
.reviews .item_s, .reviews .item{
position: relative;
margin:0;
width:48%;
padding-top:0;
border-bottom:none;
vertical-align:top;
}
.reviews .item:nth-child(2n){
margin-left:4%;
}
.reviews .item .img{
width:100%;
height: 28vw;
}
.review .item{
position:relative;
margin:0;
width:100%;
}
.review .item .ava{
width:35px;
height:35px;
border-radius:35px;
background-size:cover;
margin-right:10px;
}
.review .item .block1 {
margin:0px;
height:55px;
}
.review .item .name , .m_reviews .item .name{
width:40%;
font-size:13pt;
padding:4px 0 0 35px;
word-spacing: 180px;
line-height: 14pt;
}
.reviews .item_s .name .email{
display:block;
}

.reviews .item_s .name .email:before,.reviews .item_s .name .email:after{
content:'';
}
.reviews .item_s .name {
font-size:14px;
}
.review .item .rate {
height:22px;
width:80px;
position:absolute;
top:-1px;
right:0px;
}
.review .item .row1 .date {
margin-top:24px;
font-size:12px;
}
.review .smeta,.review .item .addr, .review .imgs .img2:first-child,.review .item .soc, .reviews .item .blocks_over, .reviews .item .img_over{
display:none;
}
.review .text .wrap, .review .imgs,.review .item .title{
width:100%;
}
.review .imgs{
height:25vw;
}
.review .price{
float:right;
text-align:right;
font-weight:100;
font-size:10pt;
margin:2px 0 0 30px;
letter-spacing:normal;
line-height: 14pt;
}
.review .price b{
font-size:20px;
}
.review .title{
font-weight:bold;
margin-top:10px;
width:100%;
font-size: 10pt;
line-height: 16pt;
letter-spacing: -0.5pt;
}
.review .imgs .img1, .review .imgs .img2{
width:49%;
height:25vw;
margin:0px;
background-size:cover;
}
.review .text{
margin:15px 0 0 0;
padding:0px;
}



.m_reviews{
margin:10px 10px 0 10px;
}
.m_reviews .item .name{
position:absolute;
top: 8px;
left: 27px;
}
.m_reviews .item .date, .m_reviews .stars {
position: absolute;
right: 10px;
top: 15px;
font-size:12px;
}
.m_reviews .item .date{
margin-top:20px;
}
.m_reviews .item .wrap{
padding:10px;
position: relative;
}
.m_reviews .item,.m_reviews .item:nth-child(-n+2){
height: auto;
margin:0 0 10px 0;
width:100%;
border-bottom:none;
}
.m_reviews .item .ava{
margin:0;
}
.m_reviews .item .block1 {
margin:0px;
}
.m_reviews .item .img, .m_reviews .item .img2{
width:47%;
height:130px;
margin:0px;
background-size:cover;
}
.m_reviews .item .img2{
top:70px;
}
.m_reviews .item .img{
margin:60px 0 10px 0;
}
.m_reviews .item .addr, .m_reviews .item .read{
display:none;
}
.m_reviews .item .title{
font-weight:bold;
line-height:20px;
margin-top:10px;
width:100%;
margin-left:0;
}
.m_reviews .item .text{
padding-top:10px;
border-top:solid 1px #d2d2d2;
}
.m_reviews .item .text p{
padding:0px;
}
.m_reviews .item .title b{
float:right;
font-size:14pt;
margin-top: -16px;
}
.m_reviews .item .title b:after{
content:"С установкой";
font-size:8pt;
font-weight:100;
display:block;
}





.solutions{
padding:0 10px;
margin-top:20px;
}
.solutions img.main{
width:100%;
height:auto;
min-height:220px;
}
.solutions .item{
position: relative;
height:auto;
margin-bottom: 23px;
}
.solutions .item:last-child{
position: relative;
height:auto;
border-bottom:none;
}

.solutions .item .cont .row1{
width:auto;
padding:0px;
margin:0px;
border:none;
height:auto;
}
.solutions .item .cont .row2{
width:50%;
padding:0px;
margin:0px;
height:auto;
float:right;
}
.solutions .item .plus {
line-height: 20px;
}
.solutions .item .cont .row2 .wrap small {
padding-bottom: 5px;
font-size:7pt;
}
.solutions .item .cont .row1 b{
font-size:12px;
}
.solutions .item .cont{
width:100%;
height:auto;
border-top:none;
border-left:solid 1px #f0f0f0;
background:#f5f5f5;
padding:10px;
box-sizing:border-box;
margin-top: -4px;
}
.solutions .item .title {
font-size: 14px;
line-height: 16px;
height:auto;
margin-bottom:5px;
margin-top: -2px;
}
.solutions .item .price {
font-size: 20px;
padding:5px 10px;
}
.solutions .item .cont .row2 .wrap{
padding:5px 10px 10px 10px;
}
.solutions .item .plus a{
font-size:10px;	
}
.solutions .item .oldp {
font-size: 10px;
margin:3px 0 0 0;
}
.solutions .item .params{
width:100%;
padding-bottom:0;
max-height: 131px;
line-height:16px;
display:block;
height:auto;
margin-top:10px;
}
.solutions .item .params>span{
font-weight:bold;
font-size:13px;
margin-bottom:0;
}
.solutions .item .params .opener{
background:#f5f5f5;
}
.solutions .item .plan, .solutions .item .par_i, .solutions .item .iq, .solutions .item .params .nump{
display:none;
}
.solutions .item .plus .main_ico{
margin-right:0;
margin-left:-3px;
}
.solutions .item .params .rit{
font-size:7pt;
padding-left:0;
}
.solutions .item .price .plus{
top:50px;
right:0px;
width:200px;
}
.solutions .item .price .plus span{
display:inline;
vertical-align:top;
line-height:25px;
}
.solutions .item .lnk{
position:initial;
margin-top:10px;
background:#2387b5;
bottom:20px;
right:20px;
bottom:10px;
left:20px;
text-align:center;
border:solid 1px #2387b5;
border-radius:4px;
}
.solutions .item .lnk a{
color:#fff;
}
.solutions .item .act{
font-size:8pt;
margin-top:0;
}
.solutions .item .params .more .mi_arrs{
margin:-10px 9px 0 0;
float:right;
display:none;
}
.solutions .item .params.long.open{
width:97.3%;
z-index:2;
}
.solutions .item .params.long.open .more{
display:none;
}
.solutions .item .params .more .tdots{
margin:-13px 0 0 -1px;
float:left;
font-weight:bold;
font-size:25px;
}
.sol_ftr{
text-decoration:none;
text-transform:uppercase;
margin:0 20px;
}

.sol_selector{
overflow:hidden;
margin:0 10px;
width:auto;
height:40px;
border:solid 1px #b3b3b3;
width: auto;
z-index:20;
background:#fff;
font-size:14px;
}
.sol_selector .xtra{
position:absolute;
overflow:hidden;
height:0px;
z-index:20;
padding:0;
border:solid 1px transparent;
}
.sol_selector.open .xtra{
background:#fff;
height:auto;
left:21px;
right:20px;
border-top:none;
border-color:#b3b3b3;
}
.sol_selector div.active{
color:#000;
}
.sol_selector .arr{
width:20px;
float: right;
margin-top: -35px;
font-size: 20px;
}
.sol_selector.open .arr{
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
margin-top: -45px;
}
.sol_selector div{
color:#000;
display:block;
text-transform:uppercase;
text-align:left;
padding: 0 15px;
line-height:40px;
}




.sales{
padding:0 10px;
}
.sales .text{
padding:10px;
}
.sales .item{
width:100%;
margin:10px 0px;
box-sizing:border-box;
height:auto;
}
.sale_wrap{
margin-top: -18px;
}
.sale_wrap .prev, .sales .prev{
width:100%;
height:auto;
background-size:cover;
}
.sale_wrap .prev img{
width:100vw;
}
.sales .prev img{
width:100%;
height:auto;
}



.how .mobile .item{
margin: 20px 10px;
padding-bottom:20px;
border-bottom:solid 1px #b3b3b3;
position:relative;
}
.how .mobile .item:last-child{
padding-bottom:10px;
border-bottom:none;
}
ymaps[class$="-zoom"], ymaps[class$="-copyright"]{
display:none!important;
}
.how .item .metro span {
background:none;
border:solid 1px;
font-size: 6px;
border-radius: 8px;
width: 8px;
height: 8px;
line-height: 9px;
}
.how .back{
position:fixed;
padding:13px 20px;
top:0px;
left:0px;
width:18px;
font-size:25px;
background:#fff;
z-index:10;
color:#0060AA;
}
time .small{
background:none;
border:solid 1px;
font-size: 7px;
border-radius: 8px;
width: 10px;
height: 10px;
line-height: 5px;
display:inline-block;
margin-right:13px;
vertical-align: middle;
text-align:center;
box-sizing: border-box;
padding-left:1px;
}
.title_inner{
font-size:13pt;
line-height:16pt;
font-weight:bold;
letter-spacing:-0.5pt;
}
.how .item .tit{
width:70%;
font-size:13pt;
margin-bottom:12px;
line-height:16pt;
font-weight:bold;
letter-spacing:-0.5pt;
}
.how .item.oneitem .second{
margin:22px 20px 0 0;
}
.how .item .second{
width:29%;
position:absolute;
right:0px;
line-height: 14px;
text-align:right;
margin-top:2px;
top:-3px;
font-size:8pt;
}
.how_page .more{
display:none;
}
.item time{
display:block;
margin:0 0 20px 0;
}
.item .tomap{
display:inline-block;
}
.oneitem.item .tomap{
display:none;
}
.item .button {
padding:9px;
border:solid 1px #b3b3b3;
border-radius:5px;
display: inline-block;
text-align:center;
}
.item .phone{
display: inline-block;
margin-right:10px;
}
.item .button .mi_addr{
margin-bottom:-3px;
}
.item>a .button{
max-width:100px;
}
.item a{
color:#333;
}
.how .ico_how {
margin: 0 10px -4px -2px;
}
.how .oneitem{
bottom:0;
left:0px;
top:initial;
}
.how_page .cities{
width:100%;
height:auto;
max-height: none;
-webkit-transition: -webkit-all 0.35s ease-out;
transition: all 0.35s ease-out;
overflow:overlay;
top:100vh;
left:0;
background:#fff;
}
.how_page.open .cities{
top:50vh;
}
.how_page.open .all_cities {
display:none;
}
.how_page.open .map_f{
margin-top:-30vh;
height:120vh;
}
.how_page.open{
overflow:auto;
}
.how_page.open .map_cover{
display:block;
opacity:0;
position:absolute;
z-index:3000;
height:20vh;
margin-top: 30vh;
}
.how .slim{
}
.how .cities .item {
box-sizing: border-box;
position:relative;
padding:0;
margin:20px;
line-height:20px;
width:auto;
}
.how .cities .item:hover {
background: none;
}
.jspVerticalBar{
display:none;
}
.how .cities .cb {
padding-top:20px;
border-bottom:solid 1px #b3b3b3;
}
.how .cities .jspPane {
width:100%;
}
.map_f{
height:90vh;
}
.how_page{
overflow:hidden;
height:100%;
}
.how_page .how{
position:relative;
height:100%;
}
.how_page .all_cities{
position:fixed;
bottom:0px;
left:0px;
width:100%;
height:8vh;
line-height:8vh;
background:#fff;
text-align:center;
cursor:pointer;
}
.how_page .map_cover{
display:none;
}
.how .oneitem.item {
width: 100%;
box-sizing: border-box;
top:initial;
bottom:0px;
position:fixed;
}
.how .item .images{
display:none;
}
#yamap.movedup{
margin-top:-100px;
height:110vh;
}




.fwd.footer{
background-color:#006DC0;
}
.footer.mobile .big{
font-size:22px;
}
.footer.mobile .block{
background: url(http://vipceiling.ru/DESIGN/SITE/images/bl_shad.png) repeat-x top;
padding:0 10px 20px 10px;
font-size:14px;
}
.footer.mobile .srch_b{
display:none;
}
.footer.mobile .submit{
margin:20px auto;
background:none;
font-size: 16px;
border-color:rgba(179,179,179,0.5);
}
.footer.mobile .submit:hover{
color:#fff;
}
.footer .wrap {
margin:0px;
text-align:center;
}


.mob_ico{
background: url(http://vipceiling.ru/DESIGN/SITE/images/mob_sprite.png) no-repeat;
overflow:hidden;
display:inline-block;
}
.mi_rev{
	background-position: 0 0;
	width: 60px;
	height: 55px;
}
.mi_sol{
	background-position: -62px 0;
	width: 60px;
	height: 62px;
}
.mi_fact{
	background-position: -126px 0;
	width: 60px;
	height: 61px;
}
.mi_fot{
	background-position: -74px -66px;
	width: 59px;
	height: 48px;
}
.mi_tec{
	background-position: -256px 0;
	width: 60px;
	height: 60px;
}
.mobile.buttons .mob_ico.mi_act{
	background-position: 0 -65px;
	width: 69px;
	height: 66px;
	margin: -5px 0 0 4px;
}
.mi_addr{
	background-position: -37px -150px;
	width: 11px;
	height: 18px;
	margin-top: -3px;
}
.mi_how{
background-position: -142px -66px;
width: 31px;
height: 50px;
margin-top:20px;
}
.mi_banf1{
background-position: -36px -170px;
width: 12px;
height: 20px;
margin-bottom: -5px;
}
.mi_banf2{
background-position: -51px -169px;
width: 22px;
height: 21px;
vertical-align: bottom;
margin-bottom: -1px;
}

.top_block .mi_tel2{
background-position: -67px -121px;
width: 21px;
height: 29px;
margin-bottom: -9px;
}
.top_block .mi_tel{
background-position: -1px -151px;
width: 34px;
height: 48px;
}

.mi_sy{
	background-position: 0 -201px;
	width: 25px;
	height: 29px;
}
.mi_sv{
	background-position: -27px -201px;
	width: 22px;
	height: 29px;
}
.mi_sf{
	background-position: -51px -195px;
	width: 19px;
	height: 35px;
	margin-top:-3px;
}
.mi_st{
	background-position: -71px -203px;
	width: 33px;
	height: 27px;
	margin-top:1px;
}
.mi_so{
	background-position: -105px -196px;
	width: 23px;
	height: 38px;
	margin-top:-5px;
}
.mi_si{
	background-position: -129px -198px;
	width: 35px;
	height: 35px;
	margin-top:-3px;
}






.mi_arrs{
background-position: -287px -62px;
width:31px;
height:31px;
}

.pic_blocks{
margin: 0 20px;
text-align:left;
}
.pic_blocks .pic_block img{
width:100%;
opacity:0;
}
.pic_blocks .pic_block{
width:49%;
position:relative;
margin-bottom:10px;
background-size:cover;
vertical-align:top;
display:inline-block;
}
.pic_blocks .pic_block span{
width:100%;
height:100%;
position:absolute;
display:block;
top:0px;
left:0px;
background:rgba(0,0,0,.3);
box-sizing: border-box;
color:#fff;
font-size:14pt;
text-align:center;
}
.pic_blocks .pic_block span b{
padding-top:25%;
font-weight:100;
display:block;
}

.page_10041 .added_mods{
display:none;
}
.prices, .prices.inline{
margin:10px 0 30vw 0;
box-sizing: border-box;	
width:95vw;
}
div.prices .item{
display:inline-table;
width:33%;
border-right:none;
}
.prices div small {
display: block;
}
.prices .item .best div, .prices .item .disc div{
top:58px;
}
.prices .item:nth-child(n+4){
margin:20px 0 130px 0;
}
.prices .item:last-child, .prices .item:nth-child(3){
border-right:solid 1px #ccc;
}
.disc b{
width: 80px;
display: inline-block;
}
table.icons{
margin-left:10px;
}
table.icons td {
width: 47%;
float: left;
}
table.icons b{
font-size:17px;
}


.footer .nav_ftr a {
color:#fff;
border:none;
border-bottom: solid 1px rgba(255,255,255,.2);
width:100%;
display:inline-block;
}
.footer .nav_ftr a, .footer .hdr {
padding:20px 0;
line-height: 20px;
}
.footer .hdr span{
color: #fff;
margin: 0 10px;
}
.footer .row a {
padding:3px 0;
font-size:17px;
border:none;
}
.footer .row{
border-top: solid 1px rgba(255,255,255,.2);
padding-bottom:20px;
overflow:hidden;
min-height: 40px;
max-height: 400px;
}
.footer .row:last-child{
border-bottom: solid 1px rgba(255,255,255,.2);
margin-bottom:20px;
}
.footer .row.noborder{
border-top: none;
}
.footer .row.minim{
max-height:40px;
}
.footer .hdr {
font-size: 21px;
margin: 0;
}

.mnutop_full .hdr span.rot_up{
margin-bottom:3px;
}
.mnutop_full .hdr span.rot_down{
margin-bottom:-4px;
}


.page_10271 .block table{
margin:0 10px;
}
.page_10271 .block table td{
float:left;
}


.content .lights {
margin:10px;
}

.content .lights .col {
width: 100%;
display: block;
position:relative;
}
.content .lights .col.col2{
background-color:#f5f5f5;
padding:20px;
box-sizing:border-box;
}
.content .lights .col.col2 img{
display:none;
}
.content .lights .price{
	margin: 0;
	float:right;
}
.content .lights .item{
border:solid 1px #f0f0f0;
margin-bottom:10px;
}
.content .lights .descr{
height:auto;
color:#474747;
font-size:9pt;
}
.content .lights .colors{
position:absolute;
top:-45px;
font-size:13pt;
width: 100%;
text-align: center;
left: 0px;
right: 0px;
}

.content .lights .colors .color {
	background: #fff;
	width: 7px;
	height: 7px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	margin: 0 10px 0 0;
	display: inline-block;
	cursor: pointer;
	border: solid 1px #57c1fe;
	font-size: 0;
	padding: 0;
}
.content .lights .colors .tit{
display:none;
}
.content .lights .colors .color.active{
	background: #57c1fe;
}
.content .lights .item h2{
padding:0;
font-size:13pt;
margin-bottom:13px;
line-height: 16pt;
}
.content .lights .item h2 span{
text-transform: lowercase;
}
.content .lights .item .prev{
display: table-cell;
vertical-align: middle;
text-align: center;
height: 320px;
padding-bottom:15px;
}
.content .lights .item .prev img{
max-width: 90vw;
margin-left: auto;
margin-right: auto;
}

.content .lights .item .arrows{
position:absolute;
top:120px;
font-size:30px;
width:100%;
}
.content .lights .item .arrows span{
background-position: -190px -51px;
width: 27px;
height: 49px;
margin:20px;
}
#ruvid iframe{
width:100%;
height:auto;
}

}