/** Created by TTF.in.ua **/
@font-face {
    font-family: 'AGLettericaCondensed-Bold';
    src: url('AGLettericaCondensed-Bold.eot');
    src: url('AGLettericaCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('AGLettericaCondensed-Bold.woff') format('woff'),
         url('AGLettericaCondensed-Bold.ttf') format('truetype'),
         url('AGLettericaCondensed-Bold.svg#AGLettericaCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}